
//every color used in the project will be stored here

$color-award-bg:#f7f8fc;
$color-lima-dark:#5aa511 ;
$color-lima-light:#6bbb14;
$color-lima-bdr-btm:#89ee1e;
$color-denim-dark:#1775bf;
$color-denim-bg:#1795c0;
$color-shark-ar:#292b2f