@use './colors.scss' as *;

// this class will be used throughtout the project to style buttons

.blue-btn{
    background-color: $color-denim-dark;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;

}
.cards{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
    text-align: center;
}
